$font-family-sans-serif:'Inter', sans-serif;
$secondary: hsl(240, 100%, 5%);
$white: hsl(36, 100%, 99%);
$light: hsl(233, 8%, 79%);
$info:hsl(236, 13%, 42%);
$danger:hsl(5, 85%, 63%);
$warning:hsl(35, 77%, 62%);


$font-weight-normal:          400;
$font-weight-bold:            700;
$font-weight-bolder:          800;

$h1-font-size: 4rem;
$h6-font-size:16px;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);




$btn-border-radius:           0;
$btn-border-radius-sm:        0;
$btn-border-radius-lg:        0;


.h-100{
    height: 100%;
}


@import "../node_modules/bootstrap/scss/bootstrap";